
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    color: #484848;
}




.layout-topbar {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ajuste conforme necessário */
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Coloque acima do conteúdo */
    transition: transform 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 15px;
}

.sidebar li a {
    text-decoration: none;
    color: black;
}

.sidebar li a:hover {
    background-color: #f0f0f0;
}


@keyframes highlight {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-highlight {
    animation: highlight 10s infinite;
}

@keyframes barHighlight {
    0% {
        opacity: 0;
        height: 0;
    }
    10% {
        opacity: 1;
      
    }
    60% {
        opacity: 1;
       
    }
    100% {
        opacity: 0;
      
    }
}

.bar-highlight {
    animation: barHighlight 10s infinite;
}
